@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');

/************ header **************/


/************ navi-wrap-mobile **************/


/************ main-wrap **************/


/************ wing-wrap **************/
