@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Economica&display=swap');

body {height: 5000px; font-family: 'Open Sans', sans-serif;}
.wrapper {max-width: 1200px; margin: auto; padding-top: 7.5rem;}
.wrapper-small {padding: 4rem;}
.loader {font-size: 2rem; color: #99f3d8; position: absolute; top: calc(50% - 1rem); left: calc(50% - 1rem); z-index: 9999;}
.divide {border-bottom: 1px solid #ddd; width: 60px; margin: 50px auto;}
.content-wrap > .title {font-size: 1.5rem; text-align: center; font-weight: normal; margin:100px 0 50px 0;}


/************ header **************/
/* .header {border: 1px solid red; padding: 0 100px; display: flex; justify-content: space-between; align-items: center;}

.header > .logo {width: 120px;}
.header > .navi-pc {border: 1px solid green; display: flex;} */

.header {padding: 0 5rem; font-size: 0.875rem; position: fixed; width: 100%; max-width: 1200px; z-index: 100; background-color: #fff; top: 0; transition: all 2s;}

.header > .logo {width: 7.5rem; float: left;}
.header > .navi-pc {float: right; padding: 3.25rem 0;}
.header > .navi-pc > .navi {float: left; border-right: 1px solid #ddd; color: #aaa; padding: 0 1rem; font-weight: bold; cursor: pointer; transition: all 0.5s; line-height: 1.2;}
.header > .navi-pc > .navi:last-child {border-right: none;}
.header > .navi-pc > .navi.active {color: #111;}
.header > .navi-pc > .navi:hover {color: #111;}

.header > .navi-mobile {display: none; position: absolute; font-size: 1.25rem; right: 5rem; top: 2.75rem; z-index: 2;}
.header > .navi-mobile > li {float: left; margin-left: 1rem; cursor: pointer;}
.header > .navi-mobile .lines {position: relative; width: 20px; height: 14px; top: 6px;}
.header > .navi-mobile .line {width: 100%; height: 2px; background-color: #aaa; position: absolute;}
.header > .navi-mobile .line:nth-child(1) {top: 0;}
.header > .navi-mobile .line:nth-child(2) {top: 6px;}
.header > .navi-mobile .line:nth-child(3) {bottom: 0;}


.header > .wing-wrap {display: none; width: 100%; height: 100vh; position: fixed; top: 0; right: 0; z-index: 1; background-color: rgba(0,0,0,0); overflow: hidden; transition: all 0.3s;}

.header .wing-conts {width: 350px; height: 100%; background-color: #fff; float: right; padding-top: 5rem; transform: translateX(350px); transition: all 0.3s;}
.header .wing-conts .navi {padding: 1rem 2.5rem; font-size: 1.25rem; letter-spacing: 0.25rem; border-bottom: 1px solid #eee; cursor: pointer;}
.header .wing-conts .navi:hover {background-color: #f4f4f4;}

/* SASS SCSS LESS <- Webpack  */
/************ main-wrap **************/
.main-wrap {position: relative;}
.main-wrap .slides {position: relative;}
.main-wrap .slide {position: absolute; top: 0;}
.main-wrap .bt {position: absolute; top: 50%; transform: translateY(-50%); width: 3rem; height: 3rem; border: 2px solid #fff; border-radius: 4px; text-align: center; color: #fff; font-size: 1.5rem; line-height: calc(3rem - 4px); cursor: pointer; transition: all 0.5s; opacity: 0; z-index: 11;}
.main-wrap .bt-prev {left: 1.5rem;}
.main-wrap .bt-next {right: 1.5rem;}
.main-wrap .pagers {position: absolute; bottom: 1rem; left: 50%; transform: translateX(-50%); transition: all 0.5s; opacity: 0; z-index: 11;}
.main-wrap .pager {color: #fff; cursor: pointer;}
.main-wrap:hover .bt {opacity: 1;}
.main-wrap:hover .pagers {opacity: 1;}

/************ slogan-wrap **************/
.slogan-wrap .title {font-size: 2.25rem; line-height: 1.1;}
.slogan-wrap .contents {margin-top: 6rem; color: #aaa;}
.slogan-wrap .content {float: left; width: 50%; padding-right: 4rem;}

/************ pf-wrap **************/
.pf-wrap > .pfs {width: 102%; margin-left: -1%; perspective: 800px;}
.pf-wrap .pf, 
.pf-wrap .pf-sizer {position: relative; width: 31.3333%; margin: 1%; float: left; overflow: hidden;}

.pf-wrap .pf {perspective: 400px;}
.pf-wrap .pf > img {opacity: 0.7; transition: all 0.5s;} 
.pf-wrap .pf:hover > img {opacity: 1; transform: scale(1.1);} 
.pf-wrap .pf > .desc {width: 100%; padding: 1.25rem; background-color: #f8f8f8; bottom: 0; position: absolute; transition: all 0.5s; transform: rotateX(90deg); transform-origin: bottom;transform-style: preserve-3d; opacity: 0;}
.pf-wrap .pf:hover > .desc {opacity: 1; transform: rotateX(0);}

.pf-wrap .triangle {width: 10px; height: 10px; position: absolute; top: -5px; left: 50%; transform: translateX(-50%) rotate(45deg); background-color: #f8f8f8;}


/************ about-wrap **************/
.about-slide {position: relative;}
.about-slide .slide {width: 70%; position: absolute; left: 15%; color: #aaa; 
	font-size: 1.375rem; text-align: center; line-height: 2rem; opacity: 0; transition: all 1s;}
.about-slide .slide:first-child {opacity: 1;}
.about-slide .writer {margin-top: 3rem; color: #333;}
.about-slide .bt {font-size: 6rem; color: #aaa; font-family: 'Economica', sans-serif; position: absolute; top: 0; cursor: pointer; transition: all 1s; opacity: 0.2;}
.about-slide:hover .bt {opacity: 0.8;}
.about-slide .bt-prev {left: 2rem;}
.about-slide .bt-next {right: 2rem;}


/************ footer-wrap **************/
.footer {margin-top: 8rem;}
.footer .info {width: 33.3333%; float: left; padding-right: 5%;}
.footer h4.title {padding: 1rem 0; color: #444;}
.footer p.content {color: #aaa;}
.footer p.content > span {display: inline-block; padding-bottom: 1rem;}
.footer a:link {color: inherit; text-decoration: none;}
.footer a:hover {color: #222; text-decoration: underline;}

.footer .links {margin-top: 2rem;}
.footer .link {float: left; width: 50%; cursor: pointer;}
.footer .link > * {float: left;}
.footer .link > .icon {width: 2rem; height: 2rem; text-align: center; line-height: 2rem; 	
	color: #fff; border-radius: 3px; text-shadow: 1px 1px 2px rgba(0,0,0,0.3); 
	margin-right: 0.5rem;}
.footer .link.twitter > .icon {background-color: #31cfff;}
.footer .link.rss > .icon {background-color: #ffac30;}
.footer .link > .desc {font-size: 0.75rem; color: #444; line-height: 0.875rem;}
.footer .link > .desc > span {font-size: 0.625rem; color: #999;}
.footer .link:hover > .desc > span {color: #444;}

.footer .copyrights {font-size: 0.75rem; color: #999; margin-top: 4rem; padding: 1rem 0;}
.footer .copyright {float: left;}
.footer .footer-navis {float: right;}
.footer .footer-navis > .navi {float: left; padding: 0 0.5rem;}



/************ 반응형 **************/
@media screen and (max-width: 767px) {
	.wrapper {padding-top: 5rem;}
	.header {padding: 0 2.5rem;}
	.header > .logo {width: 5rem;}
	.header > .navi-pc {display: none;}
	.header > .navi-mobile {display: block; top: 1.625rem;}
	.pf-wrap .pf, 
	.pf-wrap .pf-sizer {width: 48%;}
	.about-slide .bt {display: none;}
	.wrapper-small {padding: 7%;}
	.pf-wrap, .about-wrap, .footer {padding: 7%;}
	.footer .info {width: 100%; padding-right: 0; margin-bottom: 3rem;}
	.footer .copyright {float: left; width: 100%;}
	.footer .footer-navis {float: left; width: 100%;}
}

@media screen and (max-width: 575px) {
	.pf-wrap .pf, 
	.pf-wrap .pf-sizer {width: 98%;}
}

/************ 애니메이션 **************/
.ani {animation-fill-mode: forwards; animation-duration: 1s;animation-play-state: paused;}

.fadeInB {animation-name: fadeInB; opacity: 0; transform: translateY(200px); }
@keyframes fadeInB {
	0% {opacity: 0; transform: translateY(200px);}
	100% {opacity: 1; transform: translateY(0);}
}

.persB {animation-name: persB; opacity: 0; transform: rotateX(-90deg);transform-style:preserve-3d; transform-origin: 0 150%;}
@keyframes persB {
	0% {transform: rotateX(-90deg); opacity: 0;}
	100% {transform: rotateX(0); opacity: 1;}
}

