@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');

html {font-size: 16px;}
.wrapper {max-width: 1200px; margin: 0 auto; position: relative;}

/************ header **************/
.header {padding: 0 2rem; position: fixed; width: 100%; max-width: 1200px; top: 0;}
.header > .logo {float: left; width: 120px;}
.header > .navi-wrap, .header > .navi-wrap-mobile {float: right;}
.header > .navi-wrap {padding: 3rem;}
.header > .navi-wrap > .navi {padding: 0.125rem 1rem; line-height: 1rem;}
.header .bor-rt {border-right: 1px solid #ccc;}

.header .navi {float: left; cursor: pointer;}
.header > .navi-wrap-mobile {display: none;}

.header .navi {position: relative;}
.header .navi > .bar {width: calc(100% - 2rem); position: absolute; left: 1rem; height: 2px; background-color: #6cf0f0; top: 3rem; opacity: 0; transition: all 0.7s;}
.header .navi > .bar.active {top: 1.5rem; opacity: 1;}
.header .subs {position: absolute; width: 260px; left: 0; top: 0; padding-top: 4.52rem; display: none;}
.header .subs > ul {background-color: #fff; 
	box-shadow: 0 -2px 8px rgba(0,0,0,0.3);}
.header .sub {padding: 0.5rem;}

/************ main-wrap **************/
.main-wrap {margin-top: 7.5rem;}
.main-wrap .main-arrow {position: absolute; width: 60px; height: 60px; border: 2px solid #fff; border-radius: 4px; text-align: center; line-height: 60px; font-size: 48px; top: 50%; transform: translateY(-50%); font-family: 'DM Mono', monospace; color: #fff; cursor: pointer;}
.main-wrap .main-lt {left: 16px;}
.main-wrap .main-rt {right: 16px;}
.main-wrap .pagers {position: absolute; bottom: 16px; left: 50%; transform: translate(-50%); color: #fff; font-weight: bold;}
.main-wrap .pager {float: left; cursor: pointer;}


@media screen and (max-width: 767px) {
	html {font-size: 16px;}
	.header > .navi-wrap {display: none;}
	.header > .navi-wrap-mobile {display: block; padding: 1.75rem;}
	.header > .navi-wrap-mobile .fa {font-size: 1.25rem;}
	.header > .navi-wrap-mobile > .navi {padding: 0 0.5rem;}
	.header > .logo {width: 80px;}
	.header > .navi-wrap {}
	.main-wrap {margin-top: 5rem;}
}


/*
.wrapper-fixed {width: 1200px; margin: 0 auto; border: 10px solid red; height: 50vh;}

@media screen and (max-width: 1199px) {
	.wrapper-fixed {width: 992px;}
}
@media screen and (max-width: 991px) {
	.wrapper-fixed {width: 768px;}
}
@media screen and (max-width: 767px) {
	.wrapper-fixed {width: 576px;}
}
@media screen and (max-width: 575px) {
	.wrapper-fixed {width: 100%;}
}
*/